<header>
  <!-- Contenu de votre en-tête -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="ml-auto"> <!-- Utilisation de la classe 'ml-auto' pour aligner à droite -->
      <a class="navbar-brand" href="#">Gest_Impot</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <style>
    .ma-marge-gauche {
        margin-left: 700px; /* Ou la valeur que vous souhaitez */
    }
</style>
    <div class="ma-marge-gauche  navbar-collapse mr-6" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ml-2">
          <a class="nav-link" href="/view-declarants">List Declarants</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/view-declarations">List Declaration</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
